@using WebApplication5.Models;
@model Corrections;
@{
    var project = ViewData["Project"] as Project;
    ViewData["Title"] = String.Format("{0}. Добавить новое замечание", project.InternalNum);
}
<link rel="stylesheet" href="~/css/AddNewRemark.css"/>
<br><br>

    <h3 class="header">Добавить новое замечание</h3>


    <form asp-controller="Home" asp-action="CreateRemark" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>

        <div>Проект: @String.Format("{0} - {1}", project.InternalNum, project.FullName)</div>
        <input type="hidden" asp-route-ProjectId="@project.Id"></input>

        <div>Номер замечания: @ViewBag.NewId</div>
        <input type="hidden" asp-for="CorNumber" value=@ViewBag.NewId></input>

        <br><br>
        <div class="RemarkText">
            <label class="RemarkText1" asp-for="CorBodyText">Текст замечания</label>
            <textarea rows="3" cols="80" asp-for="CorBodyText"></textarea>
            <span asp-validation-for="CorBodyText"></span>
        </div>
        <br><br>
        <div class="editor-label">
            Дата получения замечания:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CorTerm);
            @Html.ValidationMessageFor(model => model.CorTerm)
            <br><br>
            <input list="my-list" name="selectedUser">
            <datalist id="my-list">
                @foreach (var user in ViewData["Users"] as List<User>)
                {
                    <option>@user.FullName</option>
                }
            </datalist>
            <br><br>
            <label asp-for="ImageFile">Скриншот</label>
            <input class="input-file" asp-for="ImageFile" accept="image/*"></input>
            <span asp-validation-for="ImageFile" class="text-danger"></span>

            <br><br>
            <input type="submit" value="Создать новое замечание">          
    </form>





    <style>
        div.RemarkText {
            height: 50px;
            display: flex;
            align-items: center
        }
    </style>
</div>




